<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
				<title>animal-search</title>
	</head>
	</ul>
		<h1>動物詳細画面</h1>
		
		<form action="animal-search" method="get">
			
			<ul th:each="animal:${animalsList2}">
				<p th:text="'NO: '+${animal.id}"></p>
				<p th:text="'英名：' + ${animal.name}"></p>
				<p th:text="'和名：' + ${animal.japaneseName}"></p>
				<p th:text="'鳴き声：' + ${animal.cry}"></p>
			</ul>
			
			<button type="submit" value="top">トップへ</button>
		</form>
		
	</body>
</html>