<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
				<title>calucuiator</title>
	</head>
	<body>
		<h1>計算機</h1>
		<form action="calculator" method="get">
			<input type ="number"name="num1">
			<select name="mark">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="×">×</option>
				<option value="÷">÷</option>
			</select>
			<input type ="number"name="num2">
			<input type ="submit"name="equal"value="=">
		</form>
		<p th:text="${result}"></p>
	</body>
</html>